* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
}

/*font-family: 'DM Serif Display', serif;
font-family: 'Enriqueta', serif;
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;*/

.encabezado {
    position: fixed;
    top: 0;
    background-color: #151A2C;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.titulo-encabezado {
    font-family: 'Lato';
    color: #151A2C;    
}

button {
    width: 200px;
    height: 80px;
    background-color:  #E84A43;
    border: 2px solid  #E84A43  ;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 80px;   
   
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 3rem;
    font-family: 'Enriqueta';
    font-size: 1.3rem;  
    list-style-type: none; 
    margin-right: 30px;         
}

.link-item {
    
    color: white;
    border-bottom: 1px solid #151A2C;   
    transition: all 0.5s ease;      
}



.link-item-encabezado {
    color: white;
    font-size: 15px;
   
    
    
}



.link-item:hover {
    border-color:white;
}



.seccion1 {
    width: 100%;
    height: 680px;
    background: url(./img/quijote-regazzoni.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: calc(20vh - 70px);
}



.titulo-seccion1 {
    color: white;
    font-family: 'Lato';
    font-weight:900;
    font-size: 70px;  
    margin-left: 300px;    

}

.subtitulo-seccion1 {
    color: white;
    font-family: 'Lato';
    font-weight:300;
    font-size: 70px; 
    margin-left: 300px;        
}

.linea-horizontal {
    width: 800px;
    margin-left: 300px;
    border: 1px solid white;
    margin-top: 60px;
}


.sublinea-horizontal {
    display: flex;
}

.texto-sublinea-horizontal {
    margin-left: 300px;
    margin-top: 10px;
    color: white;
    font-family: 'Enriqueta';
}

.separador-vertical {
    height: 40px;
    border: 1px solid white;
    margin-left: 30px;
}

.texto-sublinea-horizontal2 {
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Enriqueta';
}

.seccion2 {
    width: 100%;
    height: 600px;
    
    padding: 60px 40px;
    background-color: #E84A43;

}

.titulo-seccion2 {
    color: white;
    font-family: 'Lato';
    font-weight:900;
    font-size: 70px;  
    margin-left: 300px;   
    margin-top: 20px;

}

.parrafo-seccion2 {
    color: white;
    margin-top: 30px;
    margin-left: 300px;
    text-align: justify;
    max-width: 800px;
    font-family: 'Enriqueta';
}


.seccion3 {
    width: 100%;
    height: 500px;
    background: url(./img/jornadas-cervantinas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}

.titulo-seccion3 {
    color: white;
    font-family: 'Lato';
    font-weight:900;
    font-size: 70px;  
    margin-left: 300px;   
    padding-top: calc(20vh - 70px);
}

.seccion4 {
    width: 100%;
    height: 800px;
    
    padding: 60px 40px;
    background-color: #151A2C;

}

.titulo-seccion4 {
    color: white;
    font-family: 'Lato';
    font-weight:900;
    font-size: 70px;  
    margin-left: 300px;   
    margin-top: 30px;

}

.parrafo-seccion4 {
    color: white;
    margin-top: 30px;
    margin-left: 300px;
    text-align: justify;
    max-width: 800px;
    font-family: 'Enriqueta';
}

.img-articulos-seccion {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;
    
}

.img-articulos {
    width: 200px;
    height: 300px;
}

.nombre-conferencista {
    color: white;
    text-align: center;
    font-family: 'Enriqueta';
}

.institucion-conferencista {
    color: white;
    text-align: center;
    font-family: 'Enriqueta';
}

.seccion5 {
    width: 100%;
    height: 300px;
    background: url(./img/casa\ ronco.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}

.seccion6 {
    width: 100%;
    height: 400px;
    
    padding: 60px 40px;
    background-color: #151A2C;

}

.contenedor-estadisticas {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.numero {
    font-family: 'Enriqueta';
    font-size: 100px;
    color: white;
}



.texto-estadisticas {
    font-family: 'Enriqueta';
    font-size: 70px;
    color: white;
}

.separador-vertical2 {
    height: 120px;
    border: 1px solid white;
    margin-left: 30px;
    
}

footer {
    width: 100%;
    height: 80px;  
    background-color: #151A2C;

}

.texto-footer {
    font-family: 'Enriqueta';
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 40x 0;
}